 /* Webkit 기반 브라우저 (Chrome, Safari 등) */
 ::-webkit-scrollbar {
     width: 8px;
     /* 스크롤바의 너비 */
     height: 8px;
     /* 가로 스크롤바의 높이 */
 }

 ::-webkit-scrollbar-thumb {
     background-color: rgba(0, 0, 0, 0.2);
     /* 스크롤바의 막대 색 */
     border-radius: 10px;
     /* 스크롤바 막대의 둥근 모서리 */
 }

 ::-webkit-scrollbar-thumb:hover {
     background-color: rgba(0, 0, 0, 0.5);
     /* 호버시 색상 변화 */
 }

 ::-webkit-scrollbar-track {
     background: rgba(0, 0, 0, 0.1);
     /* 스크롤바 트랙 색 */
     border-radius: 10px;
     /* 트랙의 둥근 모서리 */
 }

 /* Firefox에서의 스크롤바 스타일 */
 scrollbar-width: thin;
 /* 얇은 스크롤바 */
 scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
 /* thumb, track 색상 */