// ===== 텍스트 하이라이트 제거
body {
  user-select: none;
}

// ===== mixin
@mixin fsbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fsc {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin fcs {
  display: flex;
  justify-content: center;
  align-items: start;
}

@mixin fccc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin fc {
  display: flex;
  flex-direction: column;
}

@mixin fcsc {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

@mixin fscc {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

// ===== 밑줄
.pink_line {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    border-bottom: 20px solid #e996a7;
    transform: translateY(5px);
    z-index: -1;
  }
}

// ===== 키프레임
@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes spinDashArray {
  0% {
    stroke-dasharray: 270 90;
  }

  50% {
    stroke-dasharray: 0 360;
  }

  100% {
    stroke-dasharray: 270 90;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  12.5%,
  25% {
    rotate: 270deg;
  }

  37.5%,
  50% {
    rotate: 540deg;
  }

  62.5%,
  75% {
    rotate: 810deg;
  }

  87.5%,
  100% {
    rotate: 1080deg;
  }
}

// ===== progress
.progress {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 1px;
  height: 10px;
  background-color: rgb(255, 174, 0);
}

// ==== body
body {
  overflow-x: hidden;
}

// ===== header
header {
  z-index: 999;
  position: fixed;
  top: 0px;
  background-color: #ebebeb;
  width: 100%;
  height: 100px;

  .inner {
    @include fsbc;
    margin: 0 auto;
    width: calc(100% - 320px);
    height: 100px;

    h1 {}

    ul {
      display: flex;
      gap: 32px;

      .main-m {}
    }
  }
}

// ===== sect
.sect {
  overflow: hidden;
  background-color: #fafafa;
  width: 100%;
  height: 100vh;

  .inner {
    margin: 0 auto;
    width: calc(100% - 240px);
    min-width: 1672px;
    height: 100vh;
  }
}

// =====
.sect1 {
  .star-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);

    background-image: radial-gradient(circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent) {}
  }

  .inner {
    position: relative;
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0px 0px 80px 0px;
      width: 45%;

      b {
        color: #fff;
        text-transform: uppercase;
      }

      .b1 {
        font-size: 32px;
      }

      .b-wrap {
        @include fcsc;

        .b2 {
          font-style: italic;
          font-size: 128px;
        }
      }
    }

    .right {
      @include fcc;
      width: 55%;


      img {
        width: 800px;
      }
    }
  }
}

// =====
.sect2 {
  position: relative;

  .star-field {
    width: 100%;
    min-width: 600px;
    height: 100%;
    transform: scaleY(-1);
    position: absolute;
    z-index: 1;
    background-color: rgb(0, 0, 0);

    background-image: radial-gradient(circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent) {}

    clip-path: polygon(100% 100%,
      0% 100%,
      0% 78.89%,
      2% 78.8%,
      4% 78.55%,
      6% 78.14%,
      8% 77.58%,
      10% 76.9%,
      12% 76.12%,
      14% 75.27%,
      16% 74.38%,
      18% 73.47%,
      20% 72.59%,
      22% 71.75%,
      24% 71%,
      26% 70.36%,
      28% 69.85%,
      30% 69.49%,
      32% 69.3%,
      34% 69.27%,
      36% 69.41%,
      38% 69.72%,
      40% 70.18%,
      42% 70.78%,
      44% 71.49%,
      46% 72.3%,
      48% 73.17%,
      50% 74.07%,
      52% 74.98%,
      54% 75.85%,
      56% 76.65%,
      58% 77.37%,
      60% 77.97%,
      62% 78.43%,
      64% 78.74%,
      66% 78.88%,
      68% 78.85%,
      70% 78.65%,
      72% 78.29%,
      74% 77.78%,
      76% 77.14%,
      78% 76.39%,
      80% 75.56%,
      82% 74.68%,
      84% 73.77%,
      86% 72.88%,
      88% 72.02%,
      90% 71.24%,
      92% 70.56%,
      94% 70.01%,
      96% 69.6%,
      98% 69.34%,
      100% 69.26%);
  }

  .inner {
    position: relative;
    z-index: 2;
    display: flex;

    p {
      color: black;
      position: relative;
      z-index: 3;
    }

    .left {
      position: relative;
      @include fccc;
      gap: 64px;
      width: 45%;
      min-width: 752px;

      .p1 {
        color: #fff;
        white-space: nowrap;
        font-size: 36px;

        span {
          font-weight: bold;
          font-size: 38px;
        }
      }

      .i-w {
        @include fcc;
        width: 380px;
        height: 600px;
        background-color: #d9d9d9;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 150%;
        }

      }

      .star-img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        transform: translate(-50%, -50%);
      }

      .shape {
        border-radius: 100%;
      }
    }

    .right {
      display: flex;
      width: 55%;
      min-width: 919px;

      .one {
        @include fccc;
        gap: 32px;
        width: 50%;

        .p-ws {
          @include fcsc;
          width: 350px;
          gap: 16px;

          .p1 {
            font-weight: bold;
            font-size: 32px;
          }

          .p-w {
            @include fc;
            gap: 8px;

            .p2 {
              font-size: 28px;
            }
          }
        }

        .p-ws1 {
          .p1 {
            color: #fff;
          }

          .p-w {
            .w {
              color: #fff;
            }
          }
        }

        .p-ws3 {
          @include fc;
          gap: 16px;

          .p {
            font-weight: bold;
            font-size: 32px;
          }

          .wrap {
            @include fcc;
            gap: 32px;

            .p-w {
              @include fc;
              gap: 8px;

              .p1 {
                font-size: 28px;
              }
            }

            .i-w {
              @include fc;
              gap: 38px;
            }
          }
        }
      }

      .two {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 50%;

        //공통
        .wrap {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .p1 {
            font-size: 32px;
            font-weight: bold;
          }
        }

        //개별(1)
        .wrap:nth-of-type(1) {
          margin-top: 68px;

          .white {
            color: #fff;
          }

          .i-w {


            img {
              height: 258px;
            }
          }
        }

        //개별(2)
        .wrap:nth-of-type(2) {
          .p1 {}

          .p_wrap {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
              font-size: 20px;

              span {
                font-weight: bold;
                padding-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}

.sect2-1 {
  position: relative;
  overflow: hidden;

  .star-field {
    width: 100%;
    min-width: 1190px;
    height: 100%;
    transform: scaleY(-1);
    position: absolute;
    background-color: rgb(0, 0, 0);

    background-image: radial-gradient(circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent) {}

    clip-path: polygon(100% 0%,
      0% 0%,
      0% 23.7%,
      2% 23.53%,
      4% 23.01%,
      6% 22.18%,
      8% 21.04%,
      10% 19.66%,
      12% 18.07%,
      14% 16.33%,
      16% 14.51%,
      18% 12.66%,
      20% 10.86%,
      22% 9.16%,
      24% 7.63%,
      26% 6.33%,
      28% 5.29%,
      30% 4.55%,
      32% 4.15%,
      34% 4.09%,
      36% 4.38%,
      38% 5.01%,
      40% 5.95%,
      42% 7.17%,
      44% 8.63%,
      46% 10.28%,
      48% 12.05%,
      50% 13.89%,
      52% 15.73%,
      54% 17.5%,
      56% 19.15%,
      58% 20.61%,
      60% 21.83%,
      62% 22.77%,
      64% 23.4%,
      66% 23.68%,
      68% 23.63%,
      70% 23.22%,
      72% 22.49%,
      74% 21.45%,
      76% 20.15%,
      78% 18.62%,
      80% 16.92%,
      82% 15.12%,
      84% 13.27%,
      86% 11.45%,
      88% 9.71%,
      90% 8.12%,
      92% 6.73%,
      94% 5.6%,
      96% 4.76%,
      98% 4.25%,
      100% 4.07%);
  }

  .inner {
    @include fcc;

    .left {
      position: relative;
      width: 50%;
      height: 100vh;

      .p-ws {
        @include fc;
        gap: 16px;
        margin-top: 80px;

        .p1 {
          font-size: 32px;
          font-weight: bold;
        }

        .p-w {
          @include fc;
          gap: 8px;

          .p2 {
            font-size: 28px;
          }
        }
      }

      img {
        position: absolute;
        top: 53%;
        left: 10%;
        width: 350px;
      }
    }

    .right {
      position: relative;
      width: 50%;
      height: 100vh;

      img {
        position: absolute;


        &:nth-of-type(1) {
          width: 600px;
          top: 0%;
          left: 30%;
        }

        &:nth-of-type(2) {
          width: 300px;
          top: 48%;
          left: 55%;

        }
      }
    }
  }
}

// =====
.sect3 {
  .star-field {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0);

    background-image: radial-gradient(circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent) {}
  }

  .inner {
    display: flex;

    .left {
      @include fcsc;
      gap: 48px;
      width: 30%;
      position: relative;

      .p-w0 {
        @include fc;
        gap: 48px;

        .p1 {
          font-family: "Nova Slim", system-ui;
          font-size: 76px;
          color: #fff;
        }

        .p2 {
          white-space: nowrap;
          color: #7d7d7d;
          font-size: 28px;
          font-weight: bold;
        }

        .p3 {
          color: #fff;
          font-size: 52px;

          span {
            font-weight: bold;
          }
        }
      }

      .p-ws {
        width: 282px;
        display: flex;
        flex-wrap: wrap;
        gap: 18px;

        .p1 {
          color: #fff;
          font-size: 21px;
          font-weight: bold;
        }

        .p-w {
          .p1 {
            font-size: 18px;
            color: #7d7d7d;
          }

          .p2 {
            font-size: 16px;
            color: #afafaf;
          }

          .i-w {
            text-align: center;
            width: 120px;

            img {}
          }
        }

        .Designer {
          transform: translateY(-16px);
        }
      }
    }

    .right {
      width: 70%;
      position: relative;

      img {
        position: absolute;
      }

      .position1 {
        left: 10%;
      }

      .size1 {}

      .position2 {
        top: 10%;
        left: 40%;
      }

      .size2 {
        width: 900px;
        animation: float 3s ease-in-out infinite;
      }
    }
  }
}

.sect3-1 {
  transform: scaleY(-1);

  .star-field {
    width: 100%;
    min-width: 880px;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0);

    background-image: radial-gradient(circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent) {}

    clip-path: polygon(100% 100%,
      0% 100%,
      0% 23.24%,
      2% 23.15%,
      4% 22.88%,
      6% 22.43%,
      8% 21.82%,
      10% 21.06%,
      12% 20.16%,
      14% 19.15%,
      16% 18.06%,
      18% 16.89%,
      20% 15.69%,
      22% 14.48%,
      24% 13.28%,
      26% 12.13%,
      28% 11.04%,
      30% 10.05%,
      32% 9.18%,
      34% 8.44%,
      36% 7.85%,
      38% 7.44%,
      40% 7.19%,
      42% 7.13%,
      44% 7.25%,
      46% 7.56%,
      48% 8.03%,
      50% 8.67%,
      52% 9.45%,
      54% 10.37%,
      56% 11.39%,
      58% 12.5%,
      60% 13.68%,
      62% 14.88%,
      64% 16.09%,
      66% 17.29%,
      68% 18.43%,
      70% 19.5%,
      72% 20.47%,
      74% 21.33%,
      76% 22.04%,
      78% 22.6%,
      80% 22.99%,
      82% 23.2%,
      84% 23.23%,
      86% 23.08%,
      88% 22.75%,
      90% 22.24%,
      92% 21.58%,
      94% 20.77%,
      96% 19.84%,
      98% 18.8%,
      100% 17.67%);
  }

  .inner {
    position: relative;
    transform: scaleY(-1);
    min-width: 1672px; //모바일에서 꼭줄이거나 없애야함

    .wrap {
      transition: 0.3s ease-in-out;
      width: 100%;
      height: 100vh;

      .sect3-1Swiper {
        padding: 20px 0px;
        width: 1080px;
        height: 576px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%);

        .swiper-wrapper {
          .swiper-slide {
            @include fcc;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }

          .slide1 {
            background: url(../img/sect3-1img/더롱다크.gif) no-repeat center/cover;
          }

          .slide2 {
            background: url(../img/sect3-1img/빵빵이일상.png) no-repeat center/cover;
          }

          .slide3 {
            background: url(../img/sect3-1img/루즈벨트.png) no-repeat center/cover;
          }

          .slide4 {
            background: url(../img/sect3-1img/죠스7-9.png) no-repeat center/cover;
          }

          .slide5 {
            background: url(../img/sect3-1img/빵바오7-12.png) no-repeat center/cover;
          }

          .slide6 {
            background-color: #fff;
          }

          .slide7 {
            background: url(../img/sect3-1img/메이플스토리\ 8-2.png) no-repeat center/cover;
          }

          .slide8 {
            background: url(../img/sect3-1img/메이플스토리8-7.png) no-repeat center/cover;
          }

          .slide9 {
            background-color: #fff;

            img {
              width: 200px;
            }
          }

          .slide10 {
            background: url(../img/sect3-1img/루카831\ 8-26.png) no-repeat center/cover;
          }

          .slide11 {
            background-color: #fff;
          }

          .slide12 {
            background-color: #fff;
          }

          .slide13 {
            background: url(../img/sect3-1img/뮤고.png) no-repeat center/cover;
          }

          .slide14 {
            background-color: #fff;

            img {
              position: absolute;
            }

            .img1 {}

            .img2 {}
          }

          .slide15 {
            background-color: #fff;
          }

          .slide16 {
            background-color: #fff;
          }

          .slide17 {
            background-color: #fff;
          }
        }
      }

      .Description {
        @include fcc;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%) translate3d(0px, 0px, -100.083px) rotateX(0deg) rotateY(20.0417deg) scale(1);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        background-color: rgba(255, 255, 255, 0.9);
        width: 440px;
        height: 300px;

        .p-w {
          @include fcsc;
          gap: 16px;
          color: rgb(0, 0, 0);

          h2 {
            font-size: 28px;
          }

          p {
            font-size: 18px;
          }

          a {
            @include fcc;
            gap: 8px;
            font-size: 18px;
            transition: 0.3s ease-in-out;

            span {
              img {
                width: 48px;
                animation: shake 2s ease-in-out infinite;
              }
            }

            &:hover {
              color: rgb(255, 72, 0);
              transform: scale(1.05);
            }
          }
        }
      }

      .swiper-button-prev {
        margin-left: 470px;
        transform: scaleX(-1);

        &::after {
          content: "";
        }
      }

      .swiper-button-next {
        margin-right: 30px;

        &::after {
          content: "";
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        img {
          transition: 0.3s ease-in-out;

          &:hover {
            opacity: 0.5;
          }
        }
      }

      .slide-counter {
        position: absolute;
        left: 1%;
        top: 30%;
        transform: translate(0%, -50%);
        font-size: 24px;
        color: #fff;
        font-weight: bold;
      }
    }

    .w {
      @include fc;
      gap: 16px;
      position: absolute;
      top: 81%;
      left: 1%;

      .list-p {
        color: #000;
      }

      .view-more {}
    }

    .hidden-list {
      @include fccc;
      gap: 52px;
      padding: 0px 0px 160px 0px;
      transition: 0.3s ease-in-out;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100vh;
      z-index: -1;
      opacity: 0;

      // z-index: 999;
      .title {
        font-family: "NovaSlim";
        animation: shake2 2.5s ease-in-out infinite;
        width: 100%;
        padding-left: 170px;
        text-transform: uppercase;
        color: #fff;
        font-size: 52px;
      }

      .list-wrap {
        @include fcs;
        gap: 200px;
        width: 100%;

        ul {
          @include fcsc;
          gap: 48px;
          color: #fff;

          li {
            transition: 0.3s ease-in-out;
            font-size: 24px;

            a {
              b {
                font-size: 28px;
              }
            }

            &:hover {
              transform: scale(1.05);
              color: goldenrod;
            }
          }
        }
      }
    }
  }
}

// =====
.sect4 {
  background: linear-gradient(180deg, #fafafa 32%, #cfecfb 56%, #94d8fb 100%);

  .inner {
    position: relative;
    display: flex;

    .plane {
      transform: rotate(-7deg);
      position: absolute;
      top: 40%;
      left: 25%;
      width: 1000px;
      animation: float 3s ease-in-out infinite;
    }

    .cloud {
      position: absolute;
      animation: float 4s ease-in-out infinite;
      top: 75%;
      left: 80%;

      &:nth-of-type(2) {
        top: 60%;
        left: 70%;
      }

      &:nth-of-type(3) {
        top: 65%;
        left: 25%;
      }

      &:nth-of-type(4) {
        top: 75%;
        left: 40%;
      }
    }

    .left {
      @include fcsc;
      gap: 48px;
      width: 35%;
      position: relative;

      .p-w0 {
        @include fc;
        gap: 48px;

        .p1 {
          font-family: "Nova Slim", system-ui;
          font-size: 88px;
        }

        .p2 {
          color: #7d7d7d;
          font-size: 28px;
          font-weight: bold;
        }

        .p3 {
          font-size: 52px;

          span {
            font-weight: bold;
          }
        }
      }

      .p-ws {
        width: 282px;
        display: flex;
        flex-wrap: wrap;
        gap: 18px;

        .p1 {
          font-size: 21px;
          font-weight: bold;
        }

        .p-w {
          .p1 {
            font-size: 18px;
            color: #7d7d7d;
          }

          .p2 {
            font-size: 16px;
            color: #afafaf;
          }

          .i-w {
            img {}
          }
        }
      }
    }

    .right {
      @include fcc;
      position: relative;
      width: 65%;

      .swiper {
        transform: rotate(0deg);
        position: absolute;
        left: 40px;
        width: 600px;
        height: 700px;

        .swiper-wrapper {
          .swiper-slide {
            @include fcc;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
              rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            border-radius: 18px;
            overflow: hidden;

            .img {
              filter: blur(10px);
            }

            a {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              .img2 {
                width: 600px;
                transition: 0.5s ease-in-out;

                &:hover {
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }

      .btn-wrap {
        @include fcsc;
        gap: 32px;
        position: absolute;
        right: 60px;

        .bg {
          transition: 0.3s ease-in-out;

          // &:nth-child(1) {
          //   background-color: #3dd1e7;
          // }
          &.on {
            background-color: #3dd1e7;
          }
        }
      }
    }
  }
}

.sect4-1 {
  position: relative;

  .bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0;
  }

  .bg1 {
    background: url(../img/sect4-1img/아침도시\ 구름\ 추가.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: cover;
    z-index: 1;
    opacity: 1;
  }

  .bg2 {
    background: url(../img/sect4-1img/밤도시.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: cover;
    z-index: 2;
    background-attachment: fixed;
  }

  .inner {
    @include fcs;
    gap: 32px;
    position: relative;
    z-index: 3;

    .video_wrap {
      @include fccc;
      gap: 32px;

      .video_frame {
        @include fcc;
        margin-top: 80px;
        width: 1080px;
        height: 607px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        pointer-events: none;

        @mixin position($pos) {
          position: $pos;
        }

        .absolute {
          @include position(absolute);
        }

        .inline-block {
          display: inline-block;
        }

        .loader {
          display: flex;
          margin: 0.25em 0;
        }

        .w-2 {
          width: 0.5em;
        }

        .dash {
          animation: dashArray 2s ease-in-out infinite,
            dashOffset 2s linear infinite;
        }

        .spin {
          animation: spinDashArray 2s ease-in-out infinite,
            spin 8s ease-in-out infinite,
            dashOffset 2s linear infinite;
          transform-origin: center;
        }
      }

      .video-controls {
        @include fcc;
        gap: 16px;
        width: 1080px;
        height: 160px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        //공통
        button {
          position: relative;
          font-size: 1.2em;
          padding: 0.7em 1.4em;
          background-color: #BF0426;
          text-decoration: none;
          border: none;
          border-radius: 0.5em;
          color: #DEDEDE;
          box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
          width: 120px;
          transition: opacity 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }

          &:hover::before {
            width: 1.6em;
            height: 1.6em;
          }

          &:active {
            box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
            transform: translate(0.1em, 0.1em);
          }

          &::before {
            position: absolute;
            content: '';
            height: 0;
            width: 0;
            top: 0;
            left: 0;
            background: linear-gradient(135deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 50%, rgba(150, 4, 31, 1) 50%, rgba(191, 4, 38, 1) 60%);
            border-radius: 0 0 0.5em 0;
            box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
            transition: 0.3s;
          }
        }

        //개별
        #playBtn {}

        #pauseBtn {}

        #forwardBtn {}

        #backwardBtn {}

        #volumeControl {}

        // level settings 👇
        $slider-width: 100%;
        $slider-height: 6px;
        $slider-bg: rgb(0, 0, 0, 0.9); //이걸로 볼륨색 조절 가능 
        $slider-border-radius: 999px;
        $level-color: #e4e4e4;
        $level-transition-duration: 0.1s;
        $icon-margin: 15px;
        $icon-color: $slider-bg;
        $icon-size: 25px;

        .slider {
          cursor: pointer;
          display: inline-flex;
          flex-direction: row-reverse;
          align-items: center;

          .volume {
            display: inline-block;
            vertical-align: top;
            margin-right: $icon-margin;
            color: $icon-color;
            width: $icon-size;
            height: auto;
          }

          .level {
            appearance: none;
            width: $slider-width;
            height: $slider-height;
            background: $slider-bg;
            overflow: hidden;
            border-radius: $slider-border-radius;
            transition: height $level-transition-duration;
            cursor: inherit;

            &::-webkit-slider-thumb {
              appearance: none;
              width: 0;
              height: 0;
              box-shadow: -200px 0 0 200px $level-color;
            }

            &:hover {
              height: calc($slider-height * 2);
            }
          }
        }

      }
    }


    .swiper_wrap {
      margin-top: 80px;

      .swiper {
        padding: 32px 0px;
        width: 400px;
        height: 800px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        background-color: rgba(255, 255, 255, 0.3);

        .swiper-wrapper {
          @include fsc;
          height: auto;

          .swiper-slide {
            @include fcc;
            gap: 32px;
            width: 95%;
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
              rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            cursor: pointer;

            .i_w {
              overflow: hidden;
              width: 180px;
              border-radius: 9px;

              img {
                transition: 0.5s ease-in-out;
                width: 100%;
              }

              &:hover img {
                transform: scale(1.1)
              }
            }

            .p-w {
              @include fcsc;
              gap: 8px;
              min-width: 130px;
              width: 130px;

              p {
                font-weight: bold;

                &:nth-child(2) {
                  font-size: 18px;
                }

                &:nth-child(3) {
                  color: #303030;
                }
              }
            }
          }
        }
      }
    }
  }
}

// =====
.sect5 {
  background: url(../img/sect4-1img/밤도시.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: cover;
  background-attachment: fixed;

  .inner {
    @include fscc;
    gap: 64px;
    position: relative;
    font-family: "Nova Slim", system-ui;

    .p1 {
      margin-top: 100px;
      font-size: 100px;

      color: #fff;
    }

    .surcle_wrap {
      display: flex;
      gap: 100px;

      .wrap {
        @include fccc;
        gap: 80px;

        .surcle {
          @include fcc;
          width: 300px;
          height: 300px;
          border-radius: 999px;
          position: relative;
          background-color: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(3px);
          box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

          .rotate {
            animation: rotateAnimation 50s infinite linear;
            width: 360px;
            height: 360px;
          }

          &:hover .rotate {
            animation-play-state: paused;
          }


          .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: invert(100%) brightness(200%);
            transition: 0.3s ease-in-out;
            width: 65%;

            &:hover {
              opacity: 0.5;
            }
          }

          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "Sunflower", sans-serif;
            font-weight: 700;
            font-size: 32px;
            color: rgb(255, 255, 255);
          }
        }

        span {
          border-radius: 999px 999px 999px 999px;
          width: 200px;
          text-align: center;
          padding: 8px 0px;
          color: #e4e4e4;
          font-size: 32px;
          background-color: rgba(255, 255, 255, 0.1);
          box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
        }
      }

      .position1 {}

      .position2 {
        transform: translateY(100px);
      }

      .position3 {}

      .position4 {
        transform: translateY(100px);
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .sect {
    .inner {
      width: 90%;
      min-width: 90%;
      // min-width: 540px;
    }
  }

  .sect1 {

    .inner {
      justify-content: center;
      flex-direction: column;

      .left {
        padding: 0;
        width: 100%;

        .b1 {
          font-size: 24px;
        }

        .b-wrap {
          .b2 {
            font-size: 62px;
          }
        }
      }

      .right {
        @include fcc;
        width: 100%;

        img {
          width: 400px;
        }
      }
    }
  }

  // =====
  .sect2 {
    .inner {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-bottom: 32px;

      .left {
        align-items: start;
        justify-content: start;
        padding-top: 100px;
        gap: 0;
        width: 100%;
        min-width: 100%;

        .p1 {
          font-size: 24px;

          span {
            font-size: 24px;
          }
        }

        .i-w {
          display: none;
        }

        .star-img {
          display: none;
        }
      }

      .right {
        display: flex;
        width: 100%;
        min-width: 100%;

        .one {
          @include fcsc;
          gap: 32px;
          width: 50%;
          min-width: 190px;

          .p-ws {
            @include fcsc;
            width: 100%;

            .p1 {
              font-size: 20px;
            }

            .p-w {
              .p2 {
                font-size: 16px;
              }
            }
          }

          .p-ws1 {


            .p1 {
              color: #000;
            }

            .p-w {
              .w {
                color: #000;
              }
            }
          }

          .p-ws3 {
            @include fc;
            gap: 16px;


            .p {
              font-weight: bold;
              font-size: 24px;
            }

            .wrap {
              @include fsc;
              gap: 16px;

              .p-w {
                @include fc;
                gap: 12px;

                .p1 {
                  font-size: 16px;
                }
              }

              .i-w {
                @include fc;
                gap: 28px;

                img {
                  width: 80px;
                }
              }
            }
          }
        }

        .two {
          display: flex;
          flex-direction: column;
          gap: 32px;
          width: 50%;
          min-width: 190px;

          // padding: 0px 10px;

          //공통
          .wrap {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .p1 {
              font-size: 20px;
            }
          }

          //개별(1)
          .wrap:nth-of-type(1) {
            margin-top: -1px;

            .white {
              color: #000;
            }

            .i-w {


              img {
                height: 140px;
              }
            }
          }

          //개별(2)
          .wrap:nth-of-type(2) {
            .p1 {}

            .p_wrap {
              @include fc;
              gap: 8px;
              width: 100%;
              min-width: 190px;

              p {
                font-size: 15px;

                span {
                  font-weight: bold;
                  padding-right: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  .sect2-1 {
    overflow: hidden;

    .inner {
      @include fccc;

      .left {
        width: 100%;

        .p-ws {
          @include fc;
          gap: 12px;
          margin-top: 40px;

          .p1 {
            font-size: 24px;
          }

          .p-w {
            @include fc;
            gap: 4px;

            .p2 {
              font-size: 16px;
              letter-spacing: -1px;
            }
          }
        }

        img {
          top: 55%;
          left: 0%;
          width: 180px;
        }
      }

      .right {
        width: 100%;


        img {


          &:nth-of-type(1) {
            width: 300px;
            top: 5%;
            left: 38%;
          }

          &:nth-of-type(2) {
            width: 150px;
            top: 55%;
            left: 60%;

          }
        }
      }
    }
  }

  // =====
  .sect3 {

    .inner {
      display: flex;

      .left {

        .p-w0 {

          .p1 {
            font-size: 72px;
          }

          .p2 {
            font-size: 24px;
          }

          .p3 {
            font-size: 48px;
          }
        }
      }

      .right {
        display: none;
      }
    }
  }

  .sect3-1 {
    .inner {

      .wrap {
        transition: 0.3s ease-in-out;
        width: 100%;
        height: 100vh;

        .sect3-1Swiper {
          padding: 0px;
          width: 330px;
          height: 480px;
          top: 38%;
          transform: translate(-50%, -50%) !important;

          .swiper-wrapper {
            .swiper-slide {
              @include fcc;
              position: relative;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }

            .slide14 {
              .img1 {
                width: 300px;
              }

              .img2 {
                width: 400px;
              }
            }
          }
        }

        .Description {
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, -50%) !important;
          width: 330px;
          height: 200px;

          .p-w {
            h2 {
              font-size: 24px;
            }

            p {
              font-size: 16px;
            }

            a {
              font-size: 18px;
            }
          }
        }

        .swiper-button-prev {
          margin-left: 0px;
          top: 38%;
        }

        .swiper-button-next {
          margin-right: 0px;
          top: 38%;
        }

        .slide-counter {
          position: absolute;
          top: 5%;
          left: 19%;
          transform: translate(-19%, -5%);
        }
      }

      .w {
        @include fc;
        gap: 8px;
        position: absolute;
        top: 90%;
        left: 72%;
        transform: translate(-50%, -50%);

        .list-p {
          color: #000;
          font-size: 14px;
        }

        .view-more {}
      }

      .hidden-list {

        // z-index: 999;
        .title {
          padding-left: 0px;
          font-size: 48px;
        }

        .list-wrap {
          @include fcs;
          gap: 20px;
          width: 100%;
          height: auto;

          ul {
            @include fcsc;
            gap: 16px;

            li {
              font-size: 16px;

              a {
                @include fcsc;

                b {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }

  // =====
  .sect4 {
    .inner {
      .plane {
        display: none;
      }

      .cloud {
        display: none;
      }

      .left {
        @include fcsc;
        gap: 48px;
        width: 35%;
        position: relative;

        .p-w0 {
          @include fc;
          gap: 48px;

          .p1 {
            font-size: 72px;
          }

          .p2 {
            font-size: 24px;
          }

          .p3 {
            font-size: 48px;
          }
        }
      }
    }
  }

  .sect4-1 {
    position: relative;

    .inner {
      @include fccc;
      gap: 32px;

      .video_wrap {
        @include fccc;
        gap: 8px;
        width: 100%;

        .video_frame {
          @include fcc;
          margin-top: 0px;
          width: 100%;
          min-height: 280px;
          height: auto
        }

        .video-controls {
          @include fcc;
          gap: 12px;
          width: 100%;
          height: 80px;
          padding: 12px;

          //공통
          button {
            @include fcc;
            width: 32px;
            font-size: 16px;
          }
        }
      }


      .swiper_wrap {
        margin-top: 0px;
        width: 100%;

        .swiper {
          @include fcc;
          padding: 0;
          width: 100%;
          height: 180px;

          .swiper-wrapper {
            @include fsc;

            .swiper-slide {
              @include fcc;
              gap: 32px;
              height: 140px;

              .i_w {
                width: 180px;
              }

              .p-w {
                @include fcsc;
                gap: 8px;

              }
            }
          }
        }
      }
    }
  }

  // =====
  .sect5 {
    background-position: 100% 100%;
    background-size: cover;

    .inner {
      @include fscc;
      gap: 60px;

      .p1 {
        margin-top: 100px;
        font-size: 72px;
      }

      .surcle_wrap {
        @include fcc;
        flex-wrap: wrap;
        gap: 52px;

        .wrap {
          gap: 40px;

          .surcle {
            @include fcc;
            width: 150px;
            height: 150px;

            .rotate {
              width: 180px;
              height: 180px;
            }

            p {
              font-size: 20px;
            }
          }

          span {
            border-radius: 999px 999px 999px 999px;
            width: 150px;
            text-align: center;
            padding: 8px 0px;
            color: #ffffff;
            font-size: 20px;
          }
        }

        .position1 {}

        .position2 {
          transform: translateY(50px);
        }

        .position3 {}

        .position4 {
          transform: translateY(50px);
        }
      }
    }
  }
}