// header
$header-color0: #000000;
$header-color1: #ffffff;
$header-color2: #333;
$header-color3: #666;
$header-color4: #ef452e;
$header-color5: #2c997b;
// fix
$fix-color0: #ffffff;
$fix-color1: #e7e6e6;
$fix-color2: #333;
$fix-color3: #222;
$fix-color4: #149e5b;
$fix-color5: #b8b8b8;
$fix-color6: #ef452e;
$fix-color7: #666;
$fix-color8: #e9e9e9;
// title
$title-color0: #000000;
$title-color1: #919191;
$title-color2: #ffffff;
$title-color3: #2c997b;
$title-color4: #fbfbfb;
// banner_title
$banner_title_color0: #333333;
$banner_title_color1: #666666;
$banner_title_color2 : #ffffff;
// tab
$tab-color0 : #666666;
$tab-color1 : #333333;
$tab-color2 : #ffffff;

//btn_color
$btn-color0 : #5e5e5e;
$btn-color1 : #ffffff;
$btn-color3: #2c997b;
$btn-color4 : #333333;
// swiper_color
$swiper_color0 : #f4f4f4;
// news
$news_color0 :#ddd;
$news_color1 :#666;
$news_color2 :#333;
$news_color3 :#ffffff;
// banner
$banner_color0 :rgba(222, 242, 235, 1);
// footer
$footer_color0 : #888888;
$footer_color1 : #bbbbbb;