body {
  overflow-x: hidden;
}

.fix_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  bottom: 120px;
  right: 24px;
  z-index: 2;
  border: 1px solid #000;
  visibility: hidden;
}
.fix_wrap .fix_banners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.fix_wrap .fix_banners.active {
  visibility: visible;
  opacity: 1;
}
.fix_wrap .fix_banners li {
  border-radius: 20px;
  overflow: hidden;
}
.fix_wrap .fix_banners li a img {
  width: 320px;
}
.fix_wrap .fix_sns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: -1;
}
.fix_wrap .fix_sns.active {
  visibility: visible;
  opacity: 1;
}
.fix_wrap .fix_sns li img {
  width: 48px;
}

.fix_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 126px;
  right: 37px;
  z-index: 2;
  width: 48px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 999px;
  transform: rotate(45deg);
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}
.fix_plus.active {
  transform: rotate(-1deg);
  opacity: 1;
}
.fix_plus:hover {
  opacity: 1;
}

.filx_top {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background: #666;
  z-index: 99;
  transition: 0.3s ease-in-out;
}

.fix_m_menu {
  display: none;
}

.tab_boxs {
  position: relative;
  padding: 80px 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.tab_boxs .tab_box {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  bottom: -470px;
  width: 1024px;
  height: 420px;
  background: #fff;
  padding: 60px;
  transform-origin: bottom;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, height 0.3s ease-in-out;
}
.tab_boxs .tab_box .trick_box {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 1100px;
  height: 500px;
  transition: 0.4s ease-in-out;
}
.tab_boxs .tab_box .trick_box.up {
  height: 540px;
}
.tab_boxs .tab_box .trick_box .wrap {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  top: 128px;
  left: 48px;
}
.tab_boxs .tab_box .trick_box .wrap .tab_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.tab_boxs .tab_box .trick_box .wrap .tab_title .p1 {
  color: #333333;
  font-size: 40px;
  letter-spacing: -1px;
}
.tab_boxs .tab_box .trick_box .wrap .tab_title .p1 span {
  font-size: 80px;
}
.tab_boxs .tab_box .trick_box .wrap .tab_sub_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  letter-spacing: -1px;
}
.tab_boxs .tab_box .trick_box .wrap .tab_sub_title .p2 {
  color: #666666;
  font-size: 18px;
}
.tab_boxs .tab_box .trick_box .wrap .Brand_btns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.tab_boxs .tab_box .trick_box .wrap .Brand_btns .Brand_btn {
  cursor: pointer;
  border: none;
  border-radius: 99px;
  width: 180px;
  height: 60px;
  background: #149f5c;
  color: #ffffff;
  font-size: 20px;
  z-index: 1;
}
.tab_boxs .tab_box .trick_box .product_imgs {
  position: absolute;
  top: 4%;
  left: 55%;
}
.tab_boxs .tab_box .trick_box .product_imgs img {
  position: absolute;
}
.tab_boxs .tab_box.on {
  opacity: 1;
  height: 470px;
}

.tab_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 100%;
  padding: 4px 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.tab_btn_wrap .tab_line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.tab_btn_wrap .tab_line .tab_surcle {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 999px;
}
.tab_btn_wrap .tab_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1124px;
}
.tab_btn_wrap .tab_btns .tab_btn {
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.5;
}
.tab_btn_wrap .tab_btns .tab_btn.on {
  opacity: 1;
}

.main_brand_btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  border-radius: 999px;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  padding: 30px;
  position: fixed;
  top: 0;
  z-index: 99;
}
header::before {
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  top: 100px;
  z-index: 2;
  left: 0%;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
}
header.active::before {
  height: 650px;
}
header.scrolled {
  transform: translateY(-100px);
}
header nav {
  position: relative;
  width: 1074px;
  height: 100px;
}
header nav .gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1074px;
  height: 100px;
}
header nav .gnb .main_menu {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  width: 179px;
  text-align: center;
}
header nav .gnb .main_menu .sub_menu {
  position: absolute;
  top: 110px;
  z-index: 2;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
header nav .gnb .main_menu .sub_menu.active {
  opacity: 1;
  visibility: visible;
}
header nav .gnb .main_menu .sub_menu li {
  width: 179px;
  padding: 8px 0px;
}
header nav .gnb .main_menu .sub_menu li a {
  font-size: 15px;
  font-weight: lighter;
  color: #666;
}
header nav .gnb .main_menu .sub_menu li a:hover {
  color: #2c997b;
  text-decoration: underline;
}
header nav .boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 480px;
  opacity: 0;
  visibility: hidden;
}
header nav .boxs.active {
  z-index: 2;
  opacity: 1;
  visibility: visible;
}
header nav .boxs .stock_box {
  display: flex;
  align-items: end;
  width: 340px;
  height: 200px;
}
header nav .boxs .stock_box .inner {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 340px;
  height: 185px;
}
header nav .boxs .stock_box .inner .wrap p {
  font-weight: bold;
}
header nav .boxs .stock_box .inner .wrap p:nth-of-type(1) {
  font-size: 18px;
  color: #333;
}
header nav .boxs .stock_box .inner .wrap p:nth-of-type(2) {
  padding-top: 8px;
  font-size: 30px;
  color: #666;
  letter-spacing: -2px;
}
header nav .boxs .stock_box .inner .wrap p:nth-of-type(3) {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  color: #ef452e;
}
header nav .boxs .stock_box .inner a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #666;
}
header nav .boxs .recruit_box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  background: url(../img/header/header_recruit_bg.png) no-repeat center/cover;
  width: 340px;
  height: 200px;
  color: #ffffff;
}
header nav .boxs .recruit_box p {
  font-size: 22px;
  letter-spacing: -3px;
}
header nav .boxs .recruit_box p span {
  font-weight: bold;
}
header .utility {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #666;
  cursor: pointer;
}
header .utility .i_W {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
header .utility .i_W .search {
  padding-top: 1px;
}
header .utility .i_W span {
  font-size: 12px;
}
header .utility a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
header .utility a span {
  font-size: 12px;
}
header .m_menu {
  display: none;
}

.sect {
  width: 100%;
}
.sect .inner {
  margin: 0 auto;
  padding: 150px 0 0;
  width: 1024px;
  height: 100%;
}
.sect .inner .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.sect .inner .title .p1 {
  font-weight: bold;
  font-size: 240px;
  line-height: 170px;
}
.sect .inner .title .p2 {
  font-size: 24px;
}

.sect1 {
  height: calc(100vh - 40px);
  overflow: hidden;
  margin: 80px 0px 0px 0px;
}
.sect1 .sect1_Swiper {
  height: 100%;
}
.sect1 .sect1_Swiper .swiper-wrapper {
  height: 100%;
}
.sect1 .sect1_Swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sect1 .sect1_Swiper .swiper-wrapper .swiper-slide .title {
  padding-bottom: 140px;
}
.sect1 .sect1_Swiper .swiper-wrapper .swiper-slide .title p {
  text-align: center;
  color: #fbfbfb;
  font-size: 58px;
  font-weight: bold;
}
.sect1 .sect1_Swiper .swiper-wrapper .slide1 {
  background: url(../img/sect1/sect1_bg1.png) no-repeat center/cover;
}
.sect1 .sect1_Swiper .swiper-wrapper .slide2 {
  background: url(../img/sect1/sect1_bg2.png) no-repeat center/cover;
}
.sect1 .sect1_Swiper .swiper-wrapper .slide3 {
  background: url(../img/sect1/sect1_bg3.png) no-repeat center/cover;
}
.sect1 .sect1_Swiper .swiper-wrapper .slide4 {
  background: url(../img/sect1/sect1_bg4.png) no-repeat center/cover;
}
.sect1 .sect1_Swiper .swiper-wrapper .slide5 {
  background: url(../img/sect1/sect1_bg5.jpg) no-repeat center/cover;
}
.sect1 .sect1_Swiper .swiper-wrapper .slide6 {
  background: url(../img/sect1/sect1_bg6.jpg) no-repeat center/cover;
}
.sect1 .sect1_Swiper .swiper-wrapper .slide7 {
  background: url(../img/sect1/sect1_bg7.jpg) no-repeat center/cover;
}
.sect1 .sect1_Swiper .swiper-button-next {
  position: absolute;
  width: 40px;
  height: 80px;
  right: 30px;
  background: url(../img/swiper/sect1/sect1_big_next.png) no-repeat center/cover;
}
.sect1 .sect1_Swiper .swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 80px;
  left: 30px;
  background: url(../img/swiper/sect1/sect1_big_prev.png) no-repeat center/cover;
}
.sect1 .sect1_Swiper .swiper-button-next::after,
.sect1 .sect1_Swiper .swiper-button-prev::after {
  display: none;
}
.sect1 .sect1_Swiper .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sect1 .sect1_Swiper .wrap .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 60%;
  left: 41%;
  transform: translate(-50%, -50%);
  width: 296px;
  height: 40px;
}
.sect1 .sect1_Swiper .wrap .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 2px solid #ffffff;
  opacity: 1;
  margin: 0 6px;
}
.sect1 .sect1_Swiper .wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 30px;
  height: 30px;
  background: url(../img/swiper/sect1/swiper_surcle_active.png) no-repeat center/cover;
  filter: brightness(0) invert(1);
  border: none;
}
.sect1 .sect1_Swiper .wrap button {
  position: absolute;
  left: 134px;
  top: -13px;
  z-index: 2;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.sect2 .inner {
  padding: 150px 0 0;
}
.sect2 .inner .title {
  line-height: 150px;
  color: #919191;
}
.sect2 .inner .box_wrap {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 40px;
  padding: 120px 0px;
}
.sect2 .inner .box_wrap .boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.sect2 .inner .box_wrap .boxs:nth-of-type(2) {
  margin-top: 120px;
}
.sect2 .inner .box_wrap .boxs .box {
  position: relative;
  width: 492px;
  height: 492px;
}
.sect2 .inner .box_wrap .boxs .box .p_w {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
}
.sect2 .inner .box_wrap .boxs .box .p_w p {
  color: #ffffff;
}
.sect2 .inner .box_wrap .boxs .box .p_w .p1 {
  font-size: 20px;
}
.sect2 .inner .box_wrap .boxs .box .p_w .p2 {
  font-size: 30px;
  font-weight: bold;
}
.sect2 .inner .box_wrap .boxs .box .p_w .p2 span {
  font-size: 120px;
  display: inline-block;
}
.sect2 .inner .box_wrap .boxs .box1 {
  background-image: url(../img/sect2/sect2_bg1.jpg);
}
.sect2 .inner .box_wrap .boxs .box2 {
  background-image: url(../img/sect2/sect2_bg2.jpg);
}
.sect2 .inner .box_wrap .boxs .box3 {
  background-image: url(../img/sect2/sect2_bg3.jpg);
}
.sect2 .inner .box_wrap .boxs .box4 {
  background-image: url(../img/sect2/sect2_bg4.jpg);
}

.sect3 {
  position: relative;
  height: 1166px;
}
.sect3 .video_wrap {
  width: 100%;
  height: 1166px;
  overflow: hidden;
}
.sect3 .video_wrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect3 .video_wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 145, 115, 0.9);
  pointer-events: none;
}
.sect3 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sect3 .inner .title {
  color: #ffffff;
}

.sect4 {
  position: relative;
}
.sect4 .inner {
  position: relative;
}
.sect4 .inner .title .p1 {
  color: #2c997b;
}
.sect4 .inner .title .p2 {
  color: #919191;
  letter-spacing: -1px;
}
.sect4 .inner .sect4_Swiper {
  width: 100%;
  margin-top: 80px;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide {
  width: 1024px;
  height: 440px;
  background: #ffffff;
  position: relative;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box {
  background: #f4f4f4;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 1024px;
  height: 380px;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 120px;
  padding-left: 18px;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title p:nth-of-type(1) {
  font-size: 16px;
  color: #666;
  font-weight: bold;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title p:nth-of-type(2) {
  font-size: 38px;
  color: #333;
  font-weight: bold;
  letter-spacing: -2px;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title p:nth-of-type(3) {
  font-size: 22px;
  color: #333;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title p:nth-of-type(4) {
  font-size: 18px;
  color: #666;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title p span {
  font-weight: bold;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title button {
  cursor: pointer;
  width: 110px;
  height: 40px;
  font-size: 16px;
  color: #ffffff;
  background: #333;
  border-radius: 999px;
}
.sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap img {
  transform: translateY(-50px);
}
.sect4 .inner .sect4_Swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  width: 100px;
  height: 50px;
}
.sect4 .inner .sect4_Swiper .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 2px solid #9c9c9c;
  opacity: 1;
  margin: 0 6px;
}
.sect4 .inner .sect4_Swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 30px;
  height: 30px;
  background: url(../img/swiper/sect1/swiper_surcle_active.png) no-repeat center/cover;
  border: none;
}
.sect4 .inner .sect4_btn_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1024px;
  height: 80px;
  margin-top: 60px;
}
.sect4 .inner .sect4_btn_icons li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e5e5e;
  border-right: 1px solid #ffffff;
  width: 256px;
  height: 80px;
  transition: 0.3s ease-in-out;
}
.sect4 .inner .sect4_btn_icons li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
}
.sect4 .inner .sect4_btn_icons li:hover {
  background-color: #149f5c;
}
.sect4 .inner::after {
  content: "";
  display: block;
  width: 1024px;
  height: 380px;
  background-color: #f4f4f4;
  position: absolute;
  top: 50.6%;
  left: 100%;
}
.sect4 .banner {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  margin-top: 200px;
  left: 0%;
  width: 100%;
  height: 235px;
  background: rgb(222, 242, 235);
}
.sect4 .banner .banner_wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 1024px;
  height: 330px;
}
.sect4 .banner .banner_wrapper .banner_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sect4 .banner .banner_wrapper .banner_title b {
  font-size: 28px;
  color: #333333;
}
.sect4 .banner .banner_wrapper .banner_title p {
  font-size: 44px;
  color: #666666;
}
.sect4 .banner .banner_wrapper .banner_title p:nth-of-type(2) {
  font-size: 18px;
}
.sect4 .banner .banner_wrapper .banner_title button {
  cursor: pointer;
  color: #ffffff;
  background: #333333;
  font-weight: bold;
  width: 110px;
  height: 40px;
  font-size: 16px;
  border-radius: 999px;
}
.news {
  border-top: 1px solid #ddd;
  width: 100%;
  height: 81px;
}
.news .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 0 auto;
  width: 1024px;
  height: 100%;
}
.news .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.news .inner .wrap .title {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
.news .inner .wrap .slider_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}
.news .inner .screen {
  width: 700px;
  height: 40px;
  overflow: hidden;
}
.news .inner .screen .list_wrapper {
  width: 100%;
  height: 100%;
}
.news .inner .screen .list_wrapper .list {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 16px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #666;
}
.news .inner .more_news {
  cursor: pointer;
  width: 134px;
  padding: 8px 0;
  border-radius: 999px;
  color: #ffffff;
  background: #333333;
  font-size: 16px;
}

footer {
  width: 100%;
  height: 435px;
}
footer .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
footer .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 16px;
}
footer .inner .wrap .f_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #888888;
}
footer .inner .wrap form {
  width: 222px;
  height: 40px;
  border-radius: 999px;
  border: none;
}
footer .inner .wrap form select {
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-radius: 999px;
}
footer .inner .wrap1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
footer .inner .wrap1 .adress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #888888;
  font-size: 16px;
}
footer .inner .wrap1 .adress li {
  padding-right: 8px;
}
footer .inner .wrap1 .adress li:nth-of-type(1) {
  border-right: 1px solid #bbbbbb;
}
footer .inner .wrap1 .adress li:nth-of-type(2) {
  border-right: 1px solid #bbbbbb;
}
footer .inner .wrap1 .adress li:nth-of-type(3) {
  border-right: 1px solid #bbbbbb;
}
footer .inner .wrap1 .copyright {
  color: #bbbbbb;
  font-size: 14px;
}
footer .inner .ismsp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
footer .inner .ismsp img {
  width: 102px;
  height: 75px;
}
footer .inner .ismsp .certification li {
  color: #888888;
  font-size: 14px;
}
footer .inner .ismsp .certification li a span {
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 982px) {
  body.no-scroll {
    overflow-y: hidden;
  }
  .tab_boxs {
    position: relative;
    padding: 0px;
  }
  .tab_boxs .tab_box {
    position: absolute;
    bottom: -370px;
    width: 435.7446808511px;
    height: 270px;
    padding: 60px;
    transform-origin: bottom;
    opacity: 0;
    transition: opacity 0.1s ease-in-out, height 0.3s ease-in-out;
  }
  .tab_boxs .tab_box:nth-of-type(2) .product_imgs {
    top: 50% !important;
    left: 55% !important;
  }
  .tab_boxs .tab_box:nth-of-type(3) .product_imgs {
    top: 50% !important;
    left: 55% !important;
  }
  .tab_boxs .tab_box:nth-of-type(4) .product_imgs {
    top: 50% !important;
    left: 55% !important;
  }
  .tab_boxs .tab_box:nth-of-type(5) .product_imgs {
    top: 50% !important;
    left: 55% !important;
  }
  .tab_boxs .tab_box:nth-of-type(6) .product_imgs {
    top: 50% !important;
    left: 55% !important;
  }
  .tab_boxs .tab_box:nth-of-type(7) .product_imgs {
    top: 54% !important;
    left: 55% !important;
  }
  .tab_boxs .tab_box:nth-of-type(8) .product_imgs {
    top: 52% !important;
    left: 52% !important;
  }
  .tab_boxs .tab_box:nth-of-type(9) .product_imgs {
    top: 42% !important;
    left: 52% !important;
  }
  .tab_boxs .tab_box .trick_box {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 435.7446808511px;
    height: 270px;
    transition: 0.4s ease-in-out;
  }
  .tab_boxs .tab_box .trick_box.up {
    height: 300px;
  }
  .tab_boxs .tab_box .trick_box .wrap {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 28px;
    left: 28px;
  }
  .tab_boxs .tab_box .trick_box .wrap .tab_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .tab_boxs .tab_box .trick_box .wrap .tab_title .p1 {
    font-size: 20px;
  }
  .tab_boxs .tab_box .trick_box .wrap .tab_title .p1 span {
    font-size: 40px;
  }
  .tab_boxs .tab_box .trick_box .wrap .tab_sub_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .tab_boxs .tab_box .trick_box .wrap .tab_sub_title .p2 {
    letter-spacing: -2px;
    font-size: 13px;
  }
  .tab_boxs .tab_box .trick_box .wrap .Brand_btns {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
  }
  .tab_boxs .tab_box .trick_box .wrap .Brand_btns .Brand_btn {
    width: 90px;
    height: 30px;
    font-size: 12px;
  }
  .tab_boxs .tab_box .trick_box .product_imgs {
    position: absolute;
    top: 30%;
    left: 65%;
  }
  .tab_boxs .tab_box .trick_box .product_imgs img {
    pointer-events: none;
    position: absolute;
  }
  .tab_boxs .tab_box .trick_box .product_imgs img:nth-of-type(1) {
    width: 215px;
  }
  .tab_boxs .tab_box .trick_box .product_imgs img:nth-of-type(2) {
    width: 215px;
  }
  .tab_boxs .tab_box.on {
    opacity: 1;
    height: 300px;
  }
  .tab_btn_wrap {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 4px 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    overflow: hidden;
  }
  .tab_btn_wrap .tab_line {
    position: relative;
    width: 210%;
    height: 1px;
    background-color: #ffffff;
  }
  .tab_btn_wrap .tab_line .tab_surcle {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 999px;
  }
  .tab_btn_wrap .tab_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    width: 900px;
    margin-left: 24px;
  }
  .tab_btn_wrap .tab_btns .tab_btn {
    font-size: 14px;
    padding: 32px 0px 0px 0px;
  }
  .main_brand_btn {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -3%);
    width: 102px;
    height: 30px;
    letter-spacing: -2px;
    font-size: 13px;
  }
  .fix_m_menu {
    padding: 10px 20px 40px 20px;
    overflow-y: auto;
    position: fixed;
    left: 100%;
    top: 0;
    display: block;
    background: #ffffff;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transition: 0.5s ease-in-out;
  }
  .fix_m_menu.on {
    left: 0%;
  }
  .fix_m_menu .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .fix_m_menu .inner .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .fix_m_menu .inner .wrap .m_eng {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  .fix_m_menu .inner .wrap .m_eng img {
    width: 18px;
  }
  .fix_m_menu .inner .wrap .m_x {
    cursor: pointer;
  }
  .fix_m_menu .inner .wrap .m_x img {
    width: 18px;
  }
  .fix_m_menu .inner .m_gnb {
    width: 100%;
  }
  .fix_m_menu .inner .m_gnb .m_main_menu {
    padding: 17px 0px;
    border-bottom: 1px solid #b8b8b8;
  }
  .fix_m_menu .inner .m_gnb .m_main_menu .wrap1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .fix_m_menu .inner .m_gnb .m_main_menu .wrap1 b {
    font-size: 24px;
    color: #333;
  }
  .fix_m_menu .inner .m_gnb .m_main_menu .wrap1 b.on {
    color: #149e5b;
  }
  .fix_m_menu .inner .m_gnb .m_main_menu .wrap1 .change {
    width: 18px;
    height: 18px;
    background: url(../img/fix_m_menu/m_plus.png) no-repeat center/cover;
  }
  .fix_m_menu .inner .m_gnb .m_main_menu .wrap1 .change.on {
    background: url(../img/fix_m_menu/m_minous.png) no-repeat center/cover;
  }
  .fix_m_menu .inner .m_gnb .m_main_menu .m_sub_menu {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0px;
  }
  .fix_m_menu .inner .m_gnb .m_main_menu .m_sub_menu li {
    padding-left: 15px;
  }
  .fix_m_menu .inner .m_gnb .m_main_menu .m_sub_menu li a {
    font-weight: bold;
    font-size: 17px;
    color: #333;
  }
  .fix_m_menu .inner .m_utility {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 28px;
    width: 100%;
  }
  .fix_m_menu .inner .m_utility a:nth-of-type(1) {
    font-size: 24px;
    font-weight: 100;
    color: #333;
  }
  .fix_m_menu .inner .m_utility .sch {
    position: relative;
    width: 100%;
  }
  .fix_m_menu .inner .m_utility .sch input {
    width: 100%;
    height: 40px;
    padding: 0 40px 0 16px;
    font-size: 14px;
    border-radius: 20px;
    color: #333;
    border: 1px solid #222;
  }
  .fix_m_menu .inner .m_utility .sch a {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(-3%, -50%);
  }
  .fix_m_menu .inner .m_boxs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
  .fix_m_menu .inner .m_boxs .m_stock_box {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 1px solid #e7e6e6;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    gap: 0px;
    padding: 0px 16px;
  }
  .fix_m_menu .inner .m_boxs .m_stock_box b {
    color: #333;
    font-size: 13px;
  }
  .fix_m_menu .inner .m_boxs .m_stock_box .p_w {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .fix_m_menu .inner .m_boxs .m_stock_box .p_w p {
    font-weight: bold;
    color: #666;
    font-size: 21px;
  }
  .fix_m_menu .inner .m_boxs .m_stock_box .p_w p:nth-of-type(1) {
    letter-spacing: -2px;
  }
  .fix_m_menu .inner .m_boxs .m_stock_box .p_w p:nth-of-type(2) {
    font-size: 11px;
    color: #ef452e;
  }
  .fix_m_menu .inner .m_boxs .m_stock_box a {
    margin-top: 8px;
    color: #666;
    font-size: 11px;
    font-weight: bold;
  }
  .fix_m_menu .inner .m_boxs .m_stock_box a img {
    margin-left: 4px;
    width: 5px;
  }
  .fix_m_menu .inner .m_boxs .m_recruit_box {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #149e5b;
    color: #ffffff;
    padding-left: 16px;
  }
  .fix_m_menu .inner .m_boxs .m_recruit_box p {
    font-size: 15px;
    letter-spacing: -2px;
  }
  .fix_m_menu .inner .m_boxs .m_recruit_box a {
    font-size: 12px;
  }
  .fix_m_menu .inner .m_boxs .m_recruit_box .M_recruit_person {
    position: absolute;
    width: 160px;
    bottom: 0%;
    right: 0%;
  }
  .fix_wrap .fix_banners li {
    border-radius: 20px;
  }
  .fix_wrap .fix_banners li a img {
    width: 180px;
  }
  .fix_wrap .fix_sns {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    width: 100%;
  }
  .fix_wrap .fix_sns li img {
    width: 32px;
  }
  .fix_plus {
    width: 32px;
    height: 32px;
  }
  .fix_plus img {
    width: 14px;
    height: 14px;
  }
  .filx_top {
    width: 36px;
    height: 36px;
    font-size: 12px;
  }
  .news {
    width: 100%;
    height: 140px;
  }
  .news .inner {
    position: relative;
    width: 426.6666666667px;
    height: 100%;
    padding: 0px;
  }
  .news .inner .wrap .title {
    position: absolute;
    top: 16px;
    left: 0px;
    width: 110px;
    font-size: 16px;
    letter-spacing: -2px;
  }
  .news .inner .wrap .slider_btn {
    position: absolute;
    top: 0px;
    right: 20px;
    transform: rotate(-90deg);
  }
  .news .inner .wrap .slider_btn .prev img {
    width: 18px;
  }
  .news .inner .wrap .slider_btn .next img {
    width: 18px;
  }
  .news .inner .screen {
    position: absolute;
    top: 55%;
    left: 0%;
    transform: translate(0%, -55%);
    width: 100%;
    height: 40px;
    overflow: hidden;
  }
  .news .inner .screen .list_wrapper {
    width: 100%;
    height: 100%;
  }
  .news .inner .screen .list_wrapper .list {
    font-size: 13px;
  }
  .news .inner .more_news {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 12px;
    height: 12px;
    padding: 0px;
    border: none;
    color: transparent;
    background: transparent;
    background: url(../img/news/M_plus.png) no-repeat center/cover;
  }
  header {
    height: 40px;
    padding: 0;
  }
  header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 26px;
  }
  header h1 img {
    width: 96px;
    height: 26px;
  }
  header nav {
    display: none;
  }
  header .utility {
    display: none;
  }
  header .m_menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
    width: 20px;
    height: 15px;
    cursor: pointer;
  }
  header .m_menu img {
    width: 100%;
    height: 100%;
  }
  .sect .inner {
    width: 426.6666666667px;
  }
  .sect1 {
    margin: 40px 0px 0px 0px;
  }
  .sect1 .sect1_Swiper .swiper-wrapper .swiper-slide .title p {
    font-size: 30px;
    letter-spacing: -1px;
  }
  .sect1 .sect1_Swiper .swiper-wrapper .slide1 {
    background: url(../img/sect1/M_sect1_bg1.png) no-repeat center/cover;
  }
  .sect1 .sect1_Swiper .swiper-wrapper .slide2 {
    background: url(../img/sect1/M_sect1_bg2.png) no-repeat center/cover;
  }
  .sect1 .sect1_Swiper .swiper-wrapper .slide3 {
    background: url(../img/sect1/M_sect1_bg3.png) no-repeat center/cover;
  }
  .sect1 .sect1_Swiper .swiper-wrapper .slide4 {
    background: url(../img/sect1/M_sect1_bg4.png) no-repeat center/cover;
  }
  .sect1 .sect1_Swiper .swiper-wrapper .slide5 {
    background: url(../img/sect1/M_sect1_bg5.jpg) no-repeat center/cover;
  }
  .sect1 .sect1_Swiper .swiper-wrapper .slide6 {
    background: url(../img/sect1/M_sect1_bg6.jpg) no-repeat center/cover;
  }
  .sect1 .sect1_Swiper .swiper-wrapper .slide7 {
    background: url(../img/sect1/M_sect1_bg7.jpg) no-repeat center/cover;
  }
  .sect1 .sect1_Swiper .swiper-button-next {
    display: none;
  }
  .sect1 .sect1_Swiper .swiper-button-prev {
    display: none;
  }
  .sect2 .inner .title .p1 {
    font-size: 60px;
    line-height: 0px;
  }
  .sect2 .inner .title .p2 {
    font-size: 14px;
    line-height: 40px;
  }
  .sect2 .inner .box_wrap {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 12px;
    padding: 60px 0px;
  }
  .sect2 .inner .box_wrap .boxs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
  }
  .sect2 .inner .box_wrap .boxs:nth-of-type(2) {
    margin-top: 32px;
  }
  .sect2 .inner .box_wrap .boxs .box {
    position: relative;
    width: 213px;
    height: 153px;
  }
  .sect2 .inner .box_wrap .boxs .box .p_w {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-20%, -20%);
  }
  .sect2 .inner .box_wrap .boxs .box .p_w .p1 {
    font-size: 11px;
  }
  .sect2 .inner .box_wrap .boxs .box .p_w .p2 {
    font-size: 15px;
    line-height: 60px;
  }
  .sect2 .inner .box_wrap .boxs .box .p_w .p2 span {
    font-size: 60px;
    display: inline-block;
    letter-spacing: -4px;
  }
  .sect2 .inner .box_wrap .boxs .box1 {
    background: url(../img/sect2/sect2_bg1.jpg) no-repeat center/cover;
  }
  .sect2 .inner .box_wrap .boxs .box2 {
    background: url(../img/sect2/sect2_bg2.jpg) no-repeat center/cover;
  }
  .sect2 .inner .box_wrap .boxs .box3 {
    background: url(../img/sect2/sect2_bg3.jpg) no-repeat center/cover;
  }
  .sect2 .inner .box_wrap .boxs .box4 {
    background: url(../img/sect2/sect2_bg4.jpg) no-repeat center/cover;
  }
  .sect3 {
    position: relative;
    height: 754px;
  }
  .sect3 .video_wrap {
    width: 100%;
    height: 754px;
    overflow: hidden;
  }
  .sect3 .video_wrap::after {
    background: rgba(39, 145, 115, 0.9);
  }
  .sect3 .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 120px 0 0;
  }
  .sect3 .inner .title {
    color: #ffffff;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .sect3 .inner .title .p1 {
    font-size: 60px;
    line-height: 0px;
  }
  .sect3 .inner .title .p2 {
    margin-top: 24px;
    font-size: 14px;
    letter-spacing: -1px;
  }
  .sect4 .inner .title .p1 {
    font-size: 60px;
    line-height: 0px;
  }
  .sect4 .inner .title .p2 {
    font-size: 14px;
    line-height: 16px;
  }
  .sect4 .inner .sect4_Swiper {
    width: 435px;
    height: 390px;
    margin-top: 32px;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide {
    width: 435px;
    height: 390px;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box {
    width: 435px;
    height: 350px;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap {
    width: 435px;
    height: 350px;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title {
    gap: 16px;
    padding-bottom: 0px;
    padding-left: 0px;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title p:nth-of-type(1) {
    font-size: 14px;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title p:nth-of-type(2) {
    font-size: 21px;
    color: #333;
    font-weight: bold;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title p:nth-of-type(3) {
    font-size: 14px;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title p:nth-of-type(4) {
    font-size: 13px;
    color: #666;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title p span {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap .s4_title button {
    cursor: pointer;
    width: 110px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
  }
  .sect4 .inner .sect4_Swiper .swiper-wrapper .swiper-slide .trick1_box .wrap img {
    position: absolute;
    bottom: -50px;
    right: 0px;
    width: 250px;
  }
  .sect4 .inner .sect4_Swiper .swiper-pagination {
    top: -4px;
    left: -16px;
    width: 100px;
    height: 50px;
  }
  .sect4 .inner .sect4_Swiper .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .sect4 .inner .sect4_Swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
  }
  .sect4 .inner .sect4_btn_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 434px;
    height: auto;
    margin-top: 8px;
  }
  .sect4 .inner .sect4_btn_icons li {
    width: 100%;
    height: 40px;
    padding-left: 12px;
  }
  .sect4 .inner .sect4_btn_icons li a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    font-size: 14px;
  }
  .sect4 .inner .sect4_btn_icons li a img {
    width: 22px;
  }
  .sect4 .inner::after {
    display: none;
  }
  .sect4 .banner {
    margin-top: 100px;
    width: 100%;
    height: 160px;
  }
  .sect4 .banner .banner_wrapper {
    width: 100%;
    height: 200px;
  }
  .sect4 .banner .banner_wrapper .banner_title {
    gap: 8px;
    padding-left: 36px;
  }
  .sect4 .banner .banner_wrapper .banner_title b {
    font-size: 18px;
  }
  .sect4 .banner .banner_wrapper .banner_title p {
    letter-spacing: -1px;
    font-size: 23px;
  }
  .sect4 .banner .banner_wrapper .banner_title p:nth-of-type(2) {
    font-size: 13px;
    letter-spacing: -2px;
  }
  .sect4 .banner .banner_wrapper .banner_title button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    letter-spacing: -1px;
  }
  .sect4 .banner .banner_wrapper img {
    width: 170px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  footer {
    width: 100%;
    height: 359px;
  }
  footer .inner {
    gap: 16px;
    width: 426.6666666667px;
  }
  footer .inner .f_logo {
    width: 100px;
  }
  footer .inner .wrap {
    position: relative;
  }
  footer .inner .wrap .f_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
  }
  footer .inner .wrap .f_menu li a {
    font-size: 12px;
    letter-spacing: -1px;
  }
  footer .inner .wrap .f_menu li:nth-of-type(6) {
    margin-right: 330px;
  }
  footer .inner .wrap form {
    position: absolute;
    bottom: -4px;
    right: 140px;
    width: 170px;
    height: 26px;
  }
  footer .inner .wrap form select {
    font-size: 16px;
    width: 100%;
    height: 100%;
  }
  footer .inner .wrap1 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    padding-right: 48px;
  }
  footer .inner .wrap1 .adress {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    font-size: 12px;
    width: 254px;
  }
  footer .inner .wrap1 .adress li {
    padding-right: 8px;
    letter-spacing: -2px;
  }
  footer .inner .wrap1 .adress li:nth-of-type(1) {
    border: transparent;
  }
  footer .inner .wrap1 .copyright {
    color: #bbbbbb;
    font-size: 12px;
    letter-spacing: -1px;
  }
  footer .inner .ismsp {
    gap: 8px;
    padding-right: 110px;
  }
  footer .inner .ismsp img {
    width: 50px;
    height: 38px;
  }
  footer .inner .ismsp .certification li {
    font-size: 12px;
    letter-spacing: -2px;
  }
  footer .inner .ismsp .certification li a span {
    padding-right: 4px;
  }
}/*# sourceMappingURL=index.css.map */