* {
  list-style: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

// ===========header
header {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s ease-in-out;

  .header-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    font-family: var(--pre-font);
    transition: 0.35s;

    h1 {
      a {
        width: 300px;
        height: 40px;

        .logo-w {
          z-index: 1;
          opacity: 1;
          transition: 0.3s ease-in-out;
        }

        .logo-b {
          position: absolute;
          left: 0.8%;
          z-index: -1;
          opacity: 0;
          transition: 0.3s ease-in-out;
        }
      }
    }

    .main-box {
      display: flex;
      align-items: center;
      transition: 0.35s;
      font-size: 23px;
      font-weight: 700;
      color: #fff;
      gap: 70px;
      transition: 0.3s ease-in-out;

      nav {
        flex-shrink: 0;

        h2 {
          display: none;
        }

        ul {
          display: flex;
          justify-content: center;
          gap: 30px;

          .main-mn {
            position: relative;
            padding: 10px 0;
          }

          .sub-mn {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 100%;
            min-width: 210px;
            max-height: 0;
            overflow: hidden;
            background-color: #bf2a4c;
            text-align: center;
            padding: 15px 10px 15px 10px;
            border-radius: 10px;
            transition: 0.5s ease;
            z-index: -1;
            opacity: 0;

            a {
              font-weight: 700;
              color: #ffffff;
              font-size: 18px;
            }
          }
        }
      }
    }

    .gnb {
      ul {
        display: flex;
        gap: 10px;

        li {
          a {}
        }

        .btn {
          .bar {
            cursor: pointer;
            height: 4px;
            width: 30px;
            background-color: rgb(255, 255, 255);
            margin: 5px 0;
            transition: 0.3s ease-in-out;

            &:nth-of-type(1) {
              transform-origin: left;
            }

            &:nth-of-type(3) {
              transform-origin: left;
            }
          }

          &:hover {
            .bar {
              &:nth-of-type(1) {
                transform: scaleX(0.5);
              }

              &:nth-of-type(3) {
                transform: scaleX(0.7);
              }
            }
          }
        }
      }
    }
  }
}

.MH {
  display: none;
}

// ===========.sect
.sect {
  height: 100vh;
}

// ===========.sect1~.sect5
.sect1 {
  position: relative;

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
      .swiper-slide {
        height: 100%;
      }

      .swiper-slide1 {
        background: url(./imgs/v_img01_sdown.jpg) no-repeat center center / cover;

        .text {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          max-width: 650px;
          text-align: center;
          z-index: 9999;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .p1 {
            font-size: 32px;
            color: #fff;
            font-weight: 700;
          }

          .p2 {
            font-size: 70px;
            color: #fff;
            font-weight: 700;
          }
        }
      }

      .swiper-slide2 {
        background: url(./imgs/v_img02.jpg) no-repeat center center / cover;

        .text {
          z-index: 9999;
          position: absolute;
          top: 70%;
          left: 30%;
          transform: translate(-50%, -50%);

          p {
            font-size: 32px;
            color: #fff;
            font-weight: 700;

            span {
              font-size: 45px;
            }
          }
        }
      }

      .swiper-slide3 {
        background: url(./imgs/v_img03.jpg) no-repeat center center / cover;

        .text {
          text-align: center;
          z-index: 9999;
          position: absolute;
          top: 40%;
          left: 30%;
          transform: translate(-50%, -50%);

          p {
            font-size: 32px;
            color: #fff;
            font-weight: 700;
          }
        }
      }

      .swiper-slide4 {
        background: url(./imgs/v_img04.jpg) no-repeat center center / cover;

        .text {
          z-index: 9999;
          position: absolute;
          top: 40%;
          left: 35%;
          transform: translate(-50%, -50%);

          p {
            font-size: 32px;
            color: #fff;
            font-weight: 700;

            span {
              font-size: 45px;
            }
          }
        }
      }

      .swiper-slide5 {
        background: url(./imgs/v_img05.jpg) no-repeat center center / cover;

        .text {
          text-align: center;
          z-index: 9999;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          p {
            font-size: 32px;
            color: #fff;
            font-weight: 700;
          }
        }
      }

      .swiper-slide6 {
        background: url(./imgs/v_img06.jpg) no-repeat center center / cover;

        .text {
          text-align: center;
          z-index: 9999;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);

          p {
            font-size: 32px;
            color: #fff;
            font-weight: 700;

            span {
              font-size: 45px;
            }
          }
        }
      }

      .swiper-slide7 {
        background: url(./imgs/v_img07.jpg) no-repeat center center / cover;

        .text {
          text-align: center;
          z-index: 9999;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          p {
            font-size: 70px;
            color: #fff;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.sect2 {
  background: url(./imgs/section01.jpg) no-repeat center center / cover;

  .wrap {
    margin: 0 auto;
    max-width: 1000px;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .wrap2 {
      margin-bottom: 120px;
      color: #fff;

      .title {
        font-size: 60px;

        font-weight: 700;
        margin: 0px 0px 25px;
      }

      .sub-T {
        font-size: 22px;
        font-weight: 700;
        margin: 0px 0px 60px;
      }

      button {
        font-weight: 700;
        border: none;
        border-radius: 50px;
        font-size: 21px;
        padding: 22px 55px;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    .iconBox {
      width: 1000px;
      height: 220px;
      display: flex;
      gap: 5px;

      .icon {
        position: relative;
        width: 33%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        .line {
          position: absolute;
          width: 100%;
          height: 5px;
          transition: height 0.3s ease-in-out;
        }

        .line1 {
          background-color: #22adb9;
        }

        .line2 {
          background-color: #1b5bbe;
        }

        .line3 {
          background-color: #d93f69;
        }

        .chung {
          margin: 45px 0px 45px;
        }

        img {
          z-index: 99;
          margin: 40px 0px 30px;
        }

        a {
          z-index: 99;
          font-size: 23px;
          color: #fff;
          font-weight: 700;
        }

        &:hover .line {
          height: 100%;
        }
      }
    }
  }
}

.sect3 {
  background: url(./imgs/section02.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  gap: 420px;

  .one {
    color: #fff;
    width: 558px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    .title {
      p {
        font-size: 60px;
        font-weight: 500;
        line-height: 80px;
        letter-spacing: -3px;
        margin: 0 0 25px;
      }
    }

    .s-title {
      p {
        font-size: 20px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: -1px;
        margin: 0 0 60px;
      }
    }

    ul {
      width: 55%;

      li {
        cursor: pointer;
        transition: 0.3s ease-in-out;
        opacity: 0.7;
        padding: 25px 0px;
        border-bottom: 1px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .wrap {
          display: flex;
          gap: 10px;

          .i-w {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-width: 100%;
            }
          }

          a {
            font-size: 20px;
          }
        }

        .arrow {
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .ba {
            width: 15px;
            height: 3px;
            background-color: #fff;

            &:nth-of-type(1) {
              transform: rotate(45deg);
            }

            &:nth-of-type(2) {
              transform: rotate(-45deg);
              margin-top: 6px;
            }
          }
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .two {
    position: relative;
    width: 470px;
    height: 100vh;

    .swiper {
      // 오버플로어 히든이 되어있는 상태
      width: 100%;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: end;
      align-items: end;

      .swiper-wrapper {
        width: 400px;
        height: 410px;

        .swiper-slide {
          width: 400px;
          height: 410px;
          font-size: 18px;
          background: rgba(0, 0, 0, 0.3);
          display: flex;
          justify-content: end;
          align-items: start;
          flex-direction: column;
          color: #fff;

          img {
            width: 400px;
            position: absolute;
            top: -22%;
            left: -15%;
          }

          .title {
            width: calc(100% - 70px);

            font-size: 21px;
            font-weight: 700;
            padding: 0px 0px 5px 30px;
          }

          .s-title {
            width: calc(100% - 70px);
            padding: 0px 30px 80px 30px;
          }

          .s-title5 {
            padding: 0px 30px 105px 30px;
          }

          .s-title6 {
            padding: 0px 30px 55px 30px;
          }
        }
      }
    }

    .next {
      cursor: pointer;
      position: fixed;
      z-index: 99;
      top: 63%;
      left: 87%;
      width: 20px;
      height: 20px;

      img {
        width: 100%;
      }
    }

    .stick {
      color: #fff;
      position: fixed;
      z-index: 99;
      top: 62.5%;
      left: 85.6%;
    }

    .prev {
      cursor: pointer;
      position: fixed;
      z-index: 99;
      top: 63%;
      left: 81%;
      width: 20px;
      height: 20px;

      img {
        width: 100%;
      }
    }

    // .Snext {
    //   width: 30px;
    //   height: 20px;
    //   border: 1px solid #000;
    //   position: absolute;
    //   top: 65%;
    //   // opacity: 0;
    // }
    // .Sprev {
    //   width: 30px;
    //   height: 20px;
    //   border: 1px solid #000;
    //   position: absolute;
    //   top: 65%;
    //   left: 85%;
    //   // opacity: 0;
    // }
  }
}

.sect4 {
  background: url(./imgs/section03.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;

  .title {
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -3px;
    margin: 0 0 25px 0;
  }

  .s-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -1px;
    margin: 0 0 60px 0;
    margin-bottom: 250px;
  }

  .icon-box {
    width: 1000px;
    height: 333px;
    display: flex;
    align-items: end;
    gap: 5px;

    .icon {
      cursor: pointer;
      transition: 0.12s ease-in-out;
      background-color: rgba(0, 0, 0, 0.4);
      width: 33%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 50px;

      .main {
        display: none;
      }

      a {
        font-size: 20px;
        font-weight: 700;
      }

      .plus {
        width: 30px;
        height: 30px;
        display: none;
      }

      &:hover {
        border-radius: 29px 29px 0px 0px;
        height: 100%;
        background-color: rgba(25, 160, 181, 0.7);

        .main {
          display: block;
        }

        .plus {
          display: block;
        }
      }
    }
  }
}

.sect5 {
  background: url(./imgs/section04.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  .title {
    margin-top: 90px;
    padding-bottom: 20px;
    font-size: 48px;
    color: #fff;
    font-weight: 700;
  }

  ul {
    display: flex;

    li {
      flex-shrink: 0;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 15px 150px 15px 150px;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      font-weight: 700;

      &.on {
        background-color: #c71c30;
      }

      &:hover {
        outline: 1px solid #c71c30;
      }
    }
  }

  .container {
    position: relative;
    width: 1490px;
    height: 100%;

    .box {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      .i-w {
        position: relative;
        overflow: hidden;
        width: 20%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          cursor: pointer;
          transition: 0.3s ease-in-out;
          width: 600px;
          height: 400px;

          &:hover {
            transform: scale(1.2);

            +.i-title {
              opacity: 1;
            }
          }
        }

        .i-title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          transition: 0.3s ease-in-out;
          opacity: 0;

          display: flex;
          justify-content: start;
          align-items: center;
          width: 100%;
          height: 50px;
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          font-weight: 700;
          position: absolute;
          top: 75%;
          padding: 0px 0px 0px 10px;
        }
      }

      button {
        margin: 0;
        padding: 0;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: #fff;
        font-size: 21px;
        border: 3px solid #ffffff;
        background: none;
        width: 250px;
        height: 70px;

        img {
          transition: 0.3s ease-in-out;
          width: 18px;
          height: 18px;
        }

        &:hover {
          border: 3px solid #c71c30;
          background-color: rgba(0, 0, 0, 0.7);

          img {
            transform: rotate(180deg);
          }
        }
      }

      &.on {
        z-index: 1;
        opacity: 1;
      }

      .swiper {
        display: none;
      }
    }

    .box1 {
      margin-top: 50px;
      width: 100%;
      height: 100%;
      gap: 50px;
      display: flex;
      justify-content: center;

      .wrap {
        width: 100%;

        .i-w {
          border-radius: 15px 15px 0px 0px;
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 250px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover {
              transform: scale(1.2);
            }
          }
        }

        .r-box {
          padding: 25px;
          background-color: #fff;
          width: 100%;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;

          .wrap {
            display: flex;
            justify-content: space-between;

            .name {
              color: #9fa6b8;
              font-weight: 600;

              img {
                width: 30px;
                height: 30px;
              }

              display: flex;
              align-items: center;
              gap: 10px;
            }

            .date {
              color: #9fa6b8;
              font-weight: 600;

              img {
                width: 30px;
                height: 30px;
              }

              display: flex;
              align-items: center;
              gap: 10px;
            }
          }

          .review {
            p {
              color: #575d6b;
              font-size: 18px;
              font-weight: 700;
            }
          }
        }
      }

      button {
        position: absolute;
        top: 75%;
      }
    }

    .box2 {
      margin-top: 32px;
      width: 100%;
      height: 100%;
      gap: 48px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      button {
        margin-bottom: 32px;
      }
    }

    .box3 {
      width: 100%;
      height: 100%;
      margin-top: 32px;
      gap: 42px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      button {
        margin-bottom: 32px;
      }
    }

    .box4 {
      width: 100%;
      height: 100%;
      margin-top: 40px;
      gap: 42px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .i-w {
        img {
          width: 288px;
          height: 288px;
        }
      }

      button {}
    }
  }
}

// ===========footer
footer {

  // display: block;
  .f-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 30px;
    background-color: #2a2d34;
    color: rgba(255, 255, 255, 0.5019607843);
    font-family: var(--pre-font);
    transition: 0.35s;

    img {}

    .wrap {
      address {
        text-align: right;
        font-weight: 700;
        font-size: 18px;
      }

      .copy {
        margin-top: 20px;
        display: flex;
        gap: 30px;

        .p1 {
          font-weight: 700;
        }

        .p2 {
          text-align: right;
        }
      }
    }
  }
}

// ===========
@media (max-width: 600px) {
  header {
    display: none;
  }

  .MH {
    padding: 15px;
    z-index: 999;
    display: block;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    position: fixed;
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;

    h2 {
      width: 55%;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      .w {
        z-index: 1;
        opacity: 1;
      }

      .b {
        z-index: -1;
        opacity: 0;
      }

      img {
        transition: 0.3s ease-in-out;
        position: absolute;
        max-width: 100%;
      }
    }

    .Mgnb {
      ul {
        display: flex;
        gap: 20px;

        li {
          a {
            transition: 0.3s ease-in-out;
            color: #fff;
            font-size: 21px;
            font-weight: 700;
          }
        }

        .Mbtn {
          cursor: pointer;

          .bar {
            cursor: pointer;
            height: 3px;
            width: 25px;
            background-color: rgb(255, 255, 255);
            margin: 5px 0;
            transition: 0.3s ease-in-out;

            &:nth-of-type(1) {
              transform-origin: left;
            }

            &:nth-of-type(3) {
              transform-origin: left;
            }
          }

          &:hover {
            .bar {
              &:nth-of-type(1) {
                transform: scaleX(0.5);
              }

              &:nth-of-type(3) {
                transform: scaleX(0.7);
              }
            }
          }
        }
      }
    }

    .mnav {
      z-index: 9999;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0%;
      left: 100%;
      background-color: #fff;
      transition: left 0.5s ease;

      .mnT {
        padding: 5px;
        width: 100%;
        height: 55px;
        background: #313f4e;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .S-W {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          img {
            width: 50px;
            height: 30px;
          }

          p {
            font-size: 20px;
            color: #fff;
            font-weight: 700;
          }
        }

        .btnx {
          width: 50px;
          height: 50px;
          position: relative;
          transition: 0.3s ease-in-out;

          .ba {
            cursor: pointer;
            width: 30px;
            height: 4px;
            background: #fff;
            position: absolute;
            top: 45%;
            left: 20%;

            &:nth-of-type(1) {
              transform: rotate(45deg);
            }

            &:nth-of-type(2) {
              transform: rotate(-45deg);
            }
          }

          &:hover {
            transform: rotate(180deg);
          }
        }
      }

      .M-main-mn-w {
        .M-main-mn {
          font-size: 18px;
          color: rgb(51, 51, 51);
          font-weight: 700;

          &:nth-of-type(1) {
            height: 50px;
            position: relative;

            .intro {
              position: absolute;
              top: 22%;
              left: 2%;
            }
          }

          .wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
              padding: 12px;
            }

            .btna {
              width: 40px;
              height: 40px;
              position: relative;
              transition: 0.3s ease-in-out;
              cursor: pointer;

              .ba {
                width: 15px;
                height: 3px;
                background-color: #b3b3b3;
                position: absolute;
                top: 50%;
                left: 16%;

                &:nth-of-type(1) {
                  transform: rotate(45deg);
                }

                &:nth-of-type(2) {
                  transform: rotate(-45deg);
                  left: 41%;
                }
              }

              // &:hover {
              //   transform: rotate(180deg);
              // }
            }
          }

          .M-sub-mn {
            padding: 12px;
            max-height: 600px;
            background-color: rgb(244, 244, 244);
            display: none;

            li {
              padding: 10px;
            }
          }
        }
      }
    }
  }

  .sect1 {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {}

        .swiper-slide1 {
          .text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            text-align: center;
            z-index: 9999;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            gap: 10px;

            .p1 {
              font-size: 20px;
            }

            .p2 {
              font-size: 35px;
            }
          }
        }

        .swiper-slide2 {
          background: url(./imgs/v_img02.jpg) no-repeat center center / cover;

          .text {
            width: 100%;
            line-height: 50px;
            text-align: center;
            z-index: 9999;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            p {
              font-size: 20px;
              color: #fff;
              font-weight: 700;

              span {
                font-size: 28px;
              }
            }
          }
        }

        .swiper-slide3 {
          background: url(./imgs/v_img03.jpg) no-repeat center center / cover;

          .text {
            width: 100%;
            top: 36%;
            left: 27%;

            p {
              font-size: 20px;
            }
          }
        }

        .swiper-slide4 {
          background: url(./imgs/v_img04.jpg) no-repeat center center / cover;

          .text {
            width: 100%;
            line-height: 50px;
            text-align: center;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);

            p {
              font-size: 20px;

              span {
                font-size: 28px;
              }
            }
          }
        }

        .swiper-slide5 {
          background: url(./imgs/v_img05.jpg) no-repeat center center / cover;

          .text {
            width: 100%;

            p {
              font-size: 20px;
            }
          }
        }

        .swiper-slide6 {
          background: url(./imgs/v_img06.jpg) no-repeat center center / cover;

          .text {
            width: 100%;

            p {
              font-size: 20px;

              span {
                font-size: 28px;
              }
            }
          }
        }

        .swiper-slide7 {
          background: url(./imgs/v_img07.jpg) no-repeat center center / cover;

          .text {
            width: 100%;

            p {
              font-size: 35px;
            }
          }
        }
      }
    }
  }

  .sect2 {
    overflow: hidden;
    background: url(./imgs/section01.jpg) no-repeat center center / cover;

    .wrap {
      .wrap2 {
        margin-bottom: 180px;
        color: #fff;

        .title {
          padding: 0px 10px 0px 10px;
          font-size: 32px;
          font-weight: 700;
        }

        .sub-T {
          font-size: 16px;
          font-weight: 700;
          margin: 60px 0px 80px 0px;
        }

        button {
          border: none;
          border-radius: 50px;
          font-size: 21px;
          padding: 22px 55px;
          background-color: rgba(0, 0, 0, 0.6);
          font-weight: 700;
        }
      }

      .iconBox {
        flex-direction: column;
        gap: 0px;

        .icon {
          position: relative;
          width: 100%;
          height: 33.3%;
          background-color: rgba(0, 0, 0, 0.4);
          display: flex;
          justify-content: start;
          align-items: start;
          flex-direction: column;

          .chung {
            margin: 45px 0px 45px;
          }

          img {
            display: none;
          }

          a {
            position: absolute;
            top: 30%;
            left: 29%;
            font-size: 17px;
          }
        }
      }
    }
  }

  .sect3 {
    background: url(./imgs/section02.jpg) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    gap: 0px;

    .one {
      color: #fff;
      width: 100%;
      height: 62%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        p {
          text-align: center;
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -3px;
          margin: 35px 0px 0px 0px;
        }
      }

      .s-title {
        p {
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: -1px;
          margin: 35px 0px 70px 0px;
        }
      }

      ul {
        width: 90%;

        li {
          cursor: pointer;
          transition: 0.3s ease-in-out;
          opacity: 0.7;
          padding: 7px 0px;
          border-bottom: 1px solid #ffffff;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .wrap {
            display: flex;
            gap: 10px;

            .i-w {
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                max-width: 100%;
              }
            }

            a {
              font-size: 16px;
            }
          }

          .arrow {
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .ba {
              width: 15px;
              height: 3px;
              background-color: #fff;

              &:nth-of-type(1) {
                transform: rotate(45deg);
              }

              &:nth-of-type(2) {
                transform: rotate(-45deg);
                margin-top: 6px;
              }
            }
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .two {
      height: 38%;

      .swiper {
        // 오버플로어 히든이 되어있는 상태
        width: 95%;
        height: 330px;
        position: relative;
        top: 44%;
        left: 49%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-wrapper {
          width: 100%;
          height: 410px;

          .swiper-slide {
            width: 100%;
            height: 410px;
            justify-content: end;
            align-items: center;
            flex-direction: column;

            img {
              width: 300px;
              position: absolute;
              top: 12.5%;
              left: 2.5%;
            }

            .title {
              font-size: 16px;
              width: calc(100% - 20px);
              font-weight: 700;
              padding: 0px;
              margin: 0px 0px 10px 0px;
            }

            .s-title {
              font-size: 16px;
              width: calc(100% - 20px);
              padding: 0px;
              margin: 0px 0px 60px 0px;
            }

            .s-title5 {
              padding: 0px;
            }

            .s-title6 {
              padding: 0px;
            }
          }
        }
      }

      .next {
        top: 65%;
        left: 92%;
        width: 20px;
        height: 20px;
      }

      .stick {
        top: 64.5%;
        left: 90.6%;
      }

      .prev {
        top: 65%;
        left: 86%;
        width: 20px;
        height: 20px;
      }
    }
  }

  .sect4 {
    background: url(./imgs/section03.jpg) no-repeat center center / cover;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;

    .title {
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: -3px;
      margin: 0px;
    }

    .s-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: -1px;
      margin: 0 0 60px 0;
      margin: 50px 0px 170px 0px;
    }

    .icon-box {
      width: 100%;
      height: 429px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      gap: 1px;

      .icon {
        cursor: pointer;
        transition: 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 33.3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 0px;

        .main {
          display: block;
          width: 100px;
          padding: 0px 0px 0px 15px;
        }

        a {
          font-size: 18px;
          font-weight: 700;
          padding: 0px 15px 0px 0px;
        }

        .plus {
          width: 30px;
          height: 30px;
          display: none;
        }

        &:hover {
          border-radius: 0px;
          height: 33.3%;

          .plus {
            display: none;
          }
        }
      }
    }
  }

  .sect5 {
    background: url(./imgs/section04.jpg) no-repeat center center / cover;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    .title {
      margin-top: 110px;
      padding-bottom: 40px;
      font-size: 30px;
    }

    ul {
      width: 92.5%;
      display: flex;
      flex-wrap: wrap;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 60px;
        transition: 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 0px;
        font-size: 20px;
        color: #fff;
        font-weight: 700;

        &.on {
          background-color: #c71c30;
        }

        &:hover {
          outline: 1px solid #c71c30;
        }
      }
    }

    .container {
      position: relative;
      width: 1450px;

      .box {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        .i-w {
          position: relative;
          overflow: hidden;
          width: 20%;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            cursor: pointer;
            transition: 0.3s ease-in-out;
            width: 600px;
            height: 400px;

            &:hover {
              transform: scale(1.2);

              +.i-title {
                opacity: 1;
              }
            }
          }

          .i-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: 0.3s ease-in-out;
            opacity: 0;

            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 50px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            font-weight: 700;
            position: absolute;
            top: 75%;
            padding: 0px 0px 0px 10px;
          }
        }

        button {
          cursor: pointer;
          margin: 0;
          padding: 0;
          z-index: 1;
          transition: 0.3s ease-in-out;
          gap: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 21px;
          width: 230px;
          height: 65px;

          img {
            transition: 0.3s ease-in-out;
            width: 18px;
            height: 18px;
          }

          &:hover {
            border: 3px solid #c71c30;
            background-color: rgba(0, 0, 0, 0.7);

            img {
              transform: rotate(180deg);
            }
          }
        }

        &.on {
          z-index: 1;
          opacity: 1;
        }

        .swiper {
          position: absolute;
          top: 0;
          display: block;
          width: 390px;
          height: 400px;

          .swiper-wrapper {
            .swiper-slide {
              text-align: center;
              font-size: 18px;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .box1 {
        .wrap {
          display: none;

          .i-w {
            border-radius: 15px 15px 0px 0px;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
              height: 100%;
              cursor: pointer;
              transition: 0.3s ease-in-out;

              &:hover {
                transform: scale(1.2);
              }
            }
          }

          .r-box {
            padding: 25px;
            background-color: #fff;
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            .wrap {
              display: flex;
              justify-content: space-between;

              .name {
                color: #9fa6b8;
                font-weight: 600;

                img {
                  width: 30px;
                  height: 30px;
                }

                display: flex;
                align-items: center;
                gap: 10px;
              }

              .date {
                color: #9fa6b8;
                font-weight: 600;

                img {
                  width: 30px;
                  height: 30px;
                }

                display: flex;
                align-items: center;
                gap: 10px;
              }
            }

            .review {
              p {
                color: #575d6b;
                font-size: 18px;
                font-weight: 700;
              }
            }
          }
        }

        .swiper {
          position: absolute;
          top: 0;
          display: block;
          width: 390px;
          height: 400px;

          .swiper-wrapper {
            .swiper-slide {
              border-radius: 20px 20px 0px 0px;
              text-align: center;
              font-size: 18px;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              .one {
                border-radius: 20px 20px 0px 0px;
                overflow: hidden;
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  transition: 0.3s ease-in-out;
                  width: 100%;

                  &:hover {
                    transform: scale(1.2);
                  }
                }

                .last {
                  height: 440px;
                }
              }

              .two {
                width: 100%;
                height: 40%;

                .r-box {
                  padding: 15px;
                  background-color: #fff;
                  width: 100%;
                  height: 150px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  gap: 10px;

                  .wrap {
                    padding: 0px 15px 0px 0px;
                    display: flex;
                    justify-content: space-between;

                    .name {
                      color: #9fa6b8;
                      font-weight: 600;
                      font-size: 15px;

                      img {
                        width: 30px;
                        height: 30px;
                      }

                      display: flex;
                      align-items: center;
                      gap: 10px;
                    }

                    .date {
                      color: #9fa6b8;
                      font-weight: 600;
                      font-size: 15px;

                      img {
                        width: 30px;
                        height: 30px;
                      }

                      display: flex;
                      align-items: center;
                      gap: 10px;
                    }
                  }

                  .review {
                    p {
                      text-align: left;
                      color: #575d6b;
                      font-size: 18px;
                      font-weight: 700;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .box2 {
        button {
          margin-top: 460px;
        }

        .i-w {
          display: none;
        }

        .swiper {
          position: absolute;
          top: 0;
          display: block;
          width: 390px;
          height: 430px;

          .swiper-wrapper {
            .swiper-slide {
              overflow: hidden;
              text-align: center;
              font-size: 18px;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              img {
                transition: 0.3s ease-in-out;
                object-fit: contain;

                &:hover {
                  transform: scale(1.2);
                }
              }
            }

            .i-title {
              position: absolute;
              top: 88.5%;
              width: 100%;
              height: 50px;
              background-color: rgba(0, 0, 0, 0.6);
              display: flex;
              justify-content: start;
              align-items: center;

              p {
                padding: 0px 0px 0px 15px;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
              }
            }
          }
        }
      }

      .box3 {
        button {
          margin-top: 460px;
        }

        .i-w {
          display: none;
        }

        .swiper {
          position: absolute;
          top: 0;
          display: block;
          width: 390px;
          height: 430px;

          .swiper-wrapper {
            .swiper-slide {
              overflow: hidden;
              text-align: center;
              font-size: 18px;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  transition: 0.3s ease-in-out;
                  height: 100%;

                  &:hover {
                    transform: scale(1.2);
                  }
                }
              }

              .i-title {
                position: absolute;
                top: 88.5%;
                width: 100%;
                height: 50px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                justify-content: start;
                align-items: center;

                p {
                  padding: 0px 0px 0px 15px;
                  font-size: 16px;
                  font-weight: 700;
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .box4 {
        button {
          margin-top: 460px;
        }

        .i-w {
          display: none;

          img {
            width: 288px;
            height: 288px;
          }
        }

        .swiper {
          position: absolute;
          top: 0;
          display: block;
          width: 390px;
          height: 430px;

          .swiper-wrapper {
            .swiper-slide {
              overflow: hidden;
              text-align: center;
              font-size: 18px;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              img {
                transition: 0.3s ease-in-out;
                width: 100%;
                height: 100%;

                &:hover {
                  transform: scale(1.2);
                }
              }

              .i-title {
                position: absolute;
                top: 88.5%;
                width: 100%;
                height: 50px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                justify-content: start;
                align-items: center;

                p {
                  padding: 0px 0px 0px 15px;
                  font-size: 16px;
                  font-weight: 700;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    width: 100%;

    .f-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 40px 30px;
      background-color: #2a2d34;
      color: rgba(255, 255, 255, 0.5);
      font-family: var(--pre-font);
      transition: 0.35s;

      img {
        width: 90%;
        margin-bottom: 30px;
      }

      .wrap {
        address {
          text-align: center;
          font-weight: 700;
          font-size: 16px;
        }

        .copy {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 30px;

          .p1 {
            text-align: center;
            font-weight: 700;
          }

          .p2 {
            font-size: 12px;
            font-weight: 700;
          }
        }
      }
    }
  }
}